[client]
port          = 3306
socket        = /tmp/mysqld.sock
default-character-set=utf8

[mysqld]
bind-address  = 192.168.0.68
port          = 3306
socket        = /tmp/mysqld.sock
character_set_server=utf8
init_connect='SET NAMES utf8'

lower_case_table_names=1

key_buffer_size = 8M
max_allowed_packet = 1M
table_open_cache = 64
sort_buffer_size = 512K
net_buffer_length = 8K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 8M

skip-external-locking
skip-name-resolve

# Replication Master Server (default)
# binary logging is required for replication
log-bin=mysql-master-bin
binlog_format=mixed
max_binlog_size=1000M
expire_logs_days=15
innodb_flush_log_at_trx_commit=1
sync_binlog=1

server-id    = 1

innodb_data_home_dir = /var/mysqldata
innodb_data_file_path = ibdata1:1024M;ibdata2:1024M:autoextend
innodb_log_group_home_dir = /var/mysqldata

innodb_buffer_pool_size = 32M

innodb_log_file_size = 4M
innodb_log_buffer_size = 4M
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 50

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates

[myisamchk]
key_buffer_size = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout