<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heleeos.blog.dao.NoteMapper">

    <resultMap id="NoteResultMap" type="com.heleeos.blog.dto.Note">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="manager_id" jdbcType="INTEGER" property="managerId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
    </resultMap>

    <sql id="note_all_column_list">id, title, status, manager_id, create_time, update_time, content </sql>

    <select id="get" parameterType="java.lang.Integer" resultMap="NoteResultMap">
        select <include refid="note_all_column_list"/> from t_note where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getNoteList" resultMap="NoteResultMap">
        select <include refid="note_all_column_list"/> from t_note where id > #{lastId} order by create_time desc limit #{rows}
    </select>

    <insert id="insert" parameterType="com.heleeos.blog.dto.Note">
        insert into t_note (title, content, status, manager_id, create_time, update_time)
        values (#{title,jdbcType=VARCHAR},  #{content,jdbcType=LONGVARCHAR}, #{status,jdbcType=INTEGER},
                #{managerId,jdbcType=INTEGER}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>

    <update id="update" parameterType="com.heleeos.blog.dto.Note">
    update t_note
    set title       = #{title,jdbcType=VARCHAR},
        status      = #{status,jdbcType=INTEGER},
        manager_id  = #{managerId,jdbcType=INTEGER},
        content     = #{content,jdbcType=LONGVARCHAR},
        update_time = CURRENT_TIMESTAMP
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
