<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heleeos.blog.dao.mapper.BlogMapper">
  <resultMap id="BaseResultMap" type="com.heleeos.blog.dao.domain.Blog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="blog_title" jdbcType="VARCHAR" property="blogTitle" />
    <result column="display_url" jdbcType="VARCHAR" property="displayUrl" />
    <result column="blog_summary" jdbcType="VARCHAR" property="blogSummary" />
    <result column="blog_tags" jdbcType="VARCHAR" property="blogTags" />
    <result column="blog_type" jdbcType="INTEGER" property="blogType" />
    <result column="blog_state" jdbcType="TINYINT" property="blogState" />
    <result column="manager_id" jdbcType="INTEGER" property="managerId" />
    <result column="read_count" jdbcType="INTEGER" property="readCount" />
    <result column="sort_index" jdbcType="TINYINT" property="sortIndex" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, blog_title, display_url, blog_summary, blog_tags, blog_type, blog_state, manager_id, 
    read_count, sort_index, create_time, update_time
  </sql>
  <select id="selectByDomain" parameterType="com.heleeos.blog.dao.domain.Blog" resultMap="BaseResultMap" />
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_blog
    where id = #{id,jdbcType=INTEGER}
  </select>
</mapper>