<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heleeos.blog.dao.mapper.TopicMapper">
  <resultMap id="BaseResultMap" type="com.heleeos.blog.dao.domain.Topic">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="manager_id" jdbcType="INTEGER" property="managerId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, status, manager_id, create_time, update_time
  </sql>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from t_topic where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByDomain" parameterType="com.heleeos.blog.dao.domain.Topic" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from t_topic
    <where>
      <if test="id != null">
        and id = #{id}
      </if>
      <if test="title != null">
        and title = #{title}
      </if>
      <if test="status != null">
        and status = #{status}
      </if>
      <if test="managerId != null">
        and manager_id = #{managerId}
      </if>
      <if test="createTime != null">
        and create_time = #{createTime}
      </if>
      <if test="updateTime != null">
        and update_time = #{updateTime}
      </if>
      <if test="content != null">
        and content = #{content}
      </if>
    </where>
  </select>
  <select id="countByDomain" resultType="long">
    select count(0) from t_topic
    <where>
      <if test="id != null">
        and id = #{id}
      </if>
      <if test="title != null">
        and title = #{title}
      </if>
      <if test="status != null">
        and status = #{status}
      </if>
      <if test="managerId != null">
        and manager_id = #{managerId}
      </if>
      <if test="createTime != null">
        and create_time = #{createTime}
      </if>
      <if test="updateTime != null">
        and update_time = #{updateTime}
      </if>
      <if test="content != null">
        and content = #{content}
      </if>
    </where>
  </select>
  <insert id="insert" parameterType="com.heleeos.blog.dao.domain.Topic">
    insert into t_topic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="managerId != null">
        manager_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="managerId != null">
        #{managerId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.heleeos.blog.dao.domain.Topic">
    update t_topic
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="managerId != null">
        manager_id = #{managerId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <delete id="delete">
    delete from t_topic where id = #{id,jdbcType=INTEGER}
  </delete>
</mapper>