<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heleeos.blog.dao.mapper.AuthRoleMapper">

    <resultMap id="BaseResultMap" type="com.heleeos.blog.dao.dto.AuthRole">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="role_routes" jdbcType="VARCHAR" property="roleRoutes"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List"> id, role_name, role_routes, create_time, update_time </sql>

    <select id="get" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from t_auth_role where id = #{id,jdbcType=INTEGER}
    </select>

    <insert id="insert" parameterType="com.heleeos.blog.dao.dto.AuthRole">
        insert into t_auth_role (role_name, role_routes, create_time, update_time)
        values (#{roleName,jdbcType=VARCHAR}, #{roleRoutes,jdbcType=VARCHAR}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP )
    </insert>

    <update id="update" parameterType="com.heleeos.blog.dao.dto.AuthRole">
        update t_auth_role
        set role_name = #{roleName,jdbcType=VARCHAR},
          role_routes = #{roleRoutes,jdbcType=VARCHAR},
          update_time = CURRENT_TIMESTAMP
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
